:root{
  --family-secondary: 'Alata', sans-serif;
  --primary: #ba0f26;
  --secondary: #f0f0f0;
  --tertiary: black;
}

.family-secondary{
  font-family: var(--family-secondary);
}
.bg-text{
  display: inline-block;
  background-color: var(--primary);
  padding: 5px;
  color: white;
}
.bg-text-black{
  display: inline-block;
  background-color: rgb(212, 212, 9);
  padding: 5px;
  color: white;
}

.header > h2{
  border-bottom: 2px solid black;
}